@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'urbancatrg';
  src: url('./assets/urbancatrg-bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}